//Colors

$basic-color: #fff;
$main-button-color: #00798a;
$main-text-color: #212121;
$theme-text-color: #707070;
$background-link-color: #97cad11f;
$background-banner-color: #a2d7de34;
$footer-text-color: #f6f7f8;
